<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Documasdasdent</title>
</head>
<body>
    <nav>
        <h4>Medical Clinic</h4>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="container mt-4"> <!-- Centers everything  -->



    <!-- In here youd place what you want inside your webpage -->


        <h1 class="profile">Welcome to your profile page!</h1>
        <p class="start">To get started simply click one of the options below.</p>

         <div class="btn-group pb-4" role="group" aria-label="Basic outlined example">
          <a href="/scheduleAppt" class="btn btn-outline-primary" aria-current="page">Schedule an Appointment</a>
          <a href="/rescheduleAppt" class="btn btn-outline-primary">Reschedule an Appointment</a>
          <a href="/cancelAppt" class="btn btn-outline-primary">Cancel an Appointment</a>
         </div>

         <table border="1">
        <tr>
            <th>How are you today</th>
            <th>Your next appointment is on</th>
            <th>The ID for this appointment is</th>
            <th>Dont forget that your patient ID is: #DISPLAY Patient ID</th>
        </tr>


        <tr> 
            <td>#DISPLAY NAME OF PERSON SIGNED IN</td>
            <td>#DISPLAY NEXT APPT</td>
            <td> #DISPLAY NEXT APPT ID</td>
            <td>  #DISPLAY Patient ID</td>

        </tr>
         </table>




    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>