<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/scheduleAppt.css">
    <title>Documasdasdent</title>
</head>
<body>
    <nav>
        <h4>Medical Clinic</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scheduleAppt">Schedule an Appointment</a></li>
            <li><a href="/rescheduleAppt">Reschedule an Appointment</a></li>
            <li><a href="/cancelAppt">Cancel an Appointment</a></li>
        </ul>
    </nav>
    <div class="container mt-4"> <!-- Centers everything  -->

    <!-- In here youd place what you want inside your webpage -->

        <form action="/auth/rescheduleAppt" method="POST">
            <div class="mb-3">
                <label for="patientID" class="form-label">Patient ID</label>
                <input type="text" class="patientID" id="patientID" name="patientID" required>
            </div>

            <div class="mb-3">
                <label for="AppointID" class="form-label">Appointment ID</label>
                <input type="text" class="AppointID" id="AppointID" name="AppointID" required>
            </div>

            <div class="mb-3">
                <label for="dateForAppt" class="form-label">Select a new date</label>
                <input type="date" class="dateForAppt" id="dateForAppt" name="dateForAppt" required>
            </div>

            <div class="col-sm-3">
                <label for="time">Select a new time</label>
                <select class="time" id="time" class="time" required>
                    <option selected>Choose...</option>
                    <option value="8">8:00 AM</option>
                    <option value="9">9:00 AM</option>
                    <option value="10">10:00 AM</option>
                    <option value="11">11:00 AM</option>
                    <option value="12">12:00 PM</option>
                    <option value="1">1:00 PM</option>
                    <option value="2">2:00 PM</option>
                    <option value="3">3:00 PM</option>
                    <option value="4">4:00 PM</option>
                    <option value="5">5:00 PM</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>